body {
    font-family:Arial, Helvetica, sans-serif;
    text-align:center;
}

h1 {
    text-align:center;
}

.choice {
    width: 200px;
    height: 200px;
    cursor: pointer;
}

.game-buttons {
    display:flex;
    justify-content:center;
    gap:16px;
}

.hidden {
    display: none;
}
